<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布--CC社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">CC社区</span>
                </button>
                <a class="navbar-brand" href="/">CC社区</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <!--  配置流程:https://developer.github.com/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/  -->
                        <a href="https://github.com/login/oauth/authorize?client_id=Iv1.a306d99d869f6b7f&redirect_uri=http://localhost:8088/callback&state=community&login">登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid publish-main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <form action="/publish" method="post">
                    <div class="input-group">
                        <label for="title">问题标题(简单扼要)</label>
                        <input type="text" class="form-control" id="title" placeholder="问题标题..." name="title" th:value="${title}">
                    </div>
                    <div class="input-group">
                        <label for="description">问题补充(必填,请参照右侧提示):</label>
                        <textarea class="form-control" id="description" name="description" cols="30" rows="10" th:text="${description}"></textarea>
                    </div>
                    <div class="input-group">
                        <label for="tag">添加标签:</label>
                        <input type="text" class="form-control" id="tag" placeholder="输入标签,以逗号分隔" name="tag" th:value="${tag}">
                    </div>
                    <div class="container-fluid main">
                        <div class="row">
                            <div class="container-fluid main col-lg-3 col-md-12 col-sm-12 col-xs-12 alert alert-danger" th:text="${error}" th:if="${error != null}"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success publish-submit">发布</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>三国</h3>
                高祖提剑入咸阳，炎炎红日升扶桑；<br/>
                光武龙兴成大统，金乌飞上天中央。<br/>
                哀哉献帝绍海宇，红轮西坠咸池傍！<br/>
                何进无谋中贵乱，凉州董卓居朝堂。<br/>
                王允定计诛逆党，李傕郭汜兴刀枪；<br/>
                四方盗贼如蚁聚，六合奸雄皆鹰扬。<br/>
                孙坚孙策起江左，袁绍袁术兴河梁；<br/>
                刘焉父子据巴蜀，刘表军旅屯荆襄。<br/>
                张燕张鲁霸南郑，马腾韩遂守西凉；<br/>
                陶谦张绣公孙瓒，各逞雄才占一方。<br/>
                曹操专权居相府，牢笼英俊用文武；<br/>
                威挟天子令诸侯，总领貔貅镇中土。<br/>
                楼桑玄德本皇孙，义结关张愿扶主；<br/>
                东西奔走恨无家，将寡兵微作羁旅。<br/>
                南阳三顾情何深，卧龙一见分寰宇；<br/>
                先取荆州后取川，霸业图王在天府。<br/>
                呜呼三载逝升遐，白帝托孤堪痛楚！<br/>
                孔明六出祁山前，愿以只手将天补，<br/>
                何期历数到此终，长星半夜落山坞！<br/>
                姜维独凭气力高，九伐中原空劬劳。<br/>
                钟会邓艾分兵进，汉室江山尽属曹。<br/>
                丕睿芳髦才及奂，司马又将天下交。<br/>
                受禅台前云雾起，石头城下无波涛；<br/>
                陈留归命与安乐，王侯公爵从根苗。<br/>
                纷纷世事无穷尽，天数茫茫不可逃。<br/>
                鼎足三分已成梦，后人凭吊空牢骚。<br/>
            </div>
        </div>
    </div>
</body>
</html>
